<h1>View Clickable</h1>
{{view "clickable"}}
{{#view "clickable2"}}
    <span>
        It is a clickable view called number 2. Send a message to controller.
    </span>
{{/view}}
{{#view "clickable3"}}
    <span>
        It is a clickable view called number 3. Send a message to route.
    </span>
{{/view}}